[user]
	email = nc6401+gthb@gmail.com
	name = Ruslan Zhenetl
[core]
	eol = lf
[alias]
	addup = add -up
	amend = commit --amend
	amendpush = !git add -u && git commit --amend --no-edit && git push -f
	br = branch
	branch-name = rev-parse --abbrev-ref HEAD
	branches = branch -a
	ci = commit
	co = checkout
	commits = log --pretty=oneline
	copy-branch = checkout -b
	cpb = copy-branch
	feature = "!f() { git fresh master; git checkout -b $1; }; f"
	forcepush = push -f
	fresh = "!f() { git checkout $1 && git pull origin $1; }; f"
	get = "!f() { git fetch origin $1; git checkout $1; }; f"
	graph = log --graph --all  --decorate --oneline
	hardreset = "!f() { git reset --hard HEAD~$1; }; f"
	hr = hardreset
	linearize = !git pull --rebase origin $(git branch-name)
	messages = log --pretty=format:%s
	pick = cherry-pick
	pop = stash pop
	publish = !git push -u origin $(git branch-name)
	pub = publish
	recommit = commit --amend --no-edit
	refresh = !git pull origin $(git branch-name)
	remotes = remote -v
	remove-branch = branch -D
	rmb = remove-branch
	savepoint = !git add -u && git commit --allow-empty-message -m ''
	st = status
	staged = diff --staged --name-only
	stashes = stash list
	syncup = pull origin master
	tags = tag
	uc = uncommit
	uncommit = reset --mixed HEAD^
	unpublish = push origin --delete
	unstage = reset HEAD --
	unstashed = diff --name-only
	untrack = rm --cached

