[user]
	email = nc6401+gthb@gmail.com
	name = Ruslan Zhenetl
[core]
	eol = lf
[alias]
	amend = commit --amend
	br = branch
	branch-name = rev-parse --abbrev-ref HEAD
	branches = branch -a
	ci = commit
	co = checkout
	cpbranch = checkout -b
	pick = cherry-pick
	feature = "!f() { git fresh master; git new $1; }; f"
	fresh = "!f() { git checkout $1 && git pull origin $1; }; f"
	get = "!f() { git fetch origin $1; git checkout $1; }; f"
	graph = log --graph --all  --decorate --oneline
	hardreset = reset --hard HEAD^
	messages = log --pretty=format:%s
	pop = stash pop
	publish = !git push -u origin $(git branch-name)
	unpublish = push origin --delete
	refresh = !git pull origin $(git branch-name)
	remotes = remote -v
	rmbranch = branch -D
	st = status
	staged = diff --staged --name-only
	stashes = stash list
	sync = "!git pull origin $(git branch-name) && git push origin $(git branch-name)"
	tags = tag
	uncommit = reset --mixed HEAD^
	unstage = reset HEAD --
	untrack = rm --cached

